---
---

@import 'bootstrap/bootstrap';

.display-4 {
  font-size: 2.25rem;
}

.main-logo {
  line-height: normal;
  height: 45px;
  width: 45px;
  border-radius: 15px;
  border: 2px solid #000000;
  padding: 8px;
}
