---
layout: page
title: Me
permalink: /me/
---

<div class="wrapper">
  <article>
    <p>
      Hello world! Fancy seeing you here on this quieter corner of the Internet.
      I’m Brett.
    </p>
    <p>
    "Who’s that?", you may ask. Well, education-wise I have a degree in Computer
    Science and minors in Mathematics and Music.
  </p>
  {% include mid_post_image.html image="brettcs_01.jpg" caption="#candid" alt="Me surrounded by too many computers" %}
  <p>Day-to-day-wise I have the pleasure of writing Fintech software and like to
     spend my days going on adventures with my wife and our puppy!
</p>
{% include mid_post_image.html image="macchi_01.jpg" caption="Our Morkie pup" alt="Bossest dog ever" %}
<p>
Hobby-wise I suppose I’m more of a geeky guy, being a pretty big fan of things
like Disney (from Marvel to Mickey), gaming and Nintendo, musical theatre,
fantasy books, coding, and most of all learning.
</p>
<p>
I love to learn things that I can use as tools for creativity. I guess being
creative is sort of my “thing”, and I’ve tried my hand at many mediums to
channel it through. Hence, this blog as a new medium!
</p>
<p>
So sit back, grab a latte, find something that interests you in the #Search tab, and enjoy!
    </p>
    <div class="author-section">
      - Brett<img class="author-icon" src="{{ site.baseurl }}/images/Brett_icon.png"></img>
    </div>
  </article>

</div>
