<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
<!-- No public email currently
      <div class="footer-col  footer-col-1">
        <h2 class="footer-heading">{{ site.title }}</h2>

        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>

      </div>
    -->
      <div class="footer-col  footer-col-2">
        <table class="social-media-list">
          <tr>
            {% if site.github_username %}
            <td>
              <a href="https://github.com/{{ site.github_username }}" target="_blank">
                <i class="hovericon fa fa-github fa-3x fa-fw"></i>
              </a>
            </td>
            {% endif %}
            {% if site.spotify_username %}
            <td>
              <a href="https://open.spotify.com/user/{{ site.spotify_username }}" target="_blank">
                <i class="hovericon fa fa-spotify fa-3x fa-fw"></i>
              </a>
            </td>
            {% endif %}
            {% if site.pinterest_username %}
            <td>
              <a href="https://www.pinterest.com/{{ site.pinterest_username }}" target="_blank">
                <i class="hovericon fa fa-pinterest fa-3x fa-fw"></i>
              </a>
            </td>
            {% endif %}
            {% if site.linkedin_username %}
            <td>
                  <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
                    <i class="hovericon fa fa-linkedin-square fa-3x fa-fw"></i>
                  </a>
                </span>
            </td>
            {% endif %}
            {% if site.miiverse_username %}
            <td>
                  <a href="https://miiverse.nintendo.net/users/{{ site.miiverse_username }}" target="_blank">
                    <i class="hovericon fa fa-gamepad fa-3x fa-fw"></i>
                  </a>
                </span>
            </td>
            {% endif %}
          </tr>
        </ul>
      </div>
    </div>

  </div>

</footer>
