<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Brett Bush | Portfolio</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="64x64" href="{{site.baseurl}}/assets/img/logo64.png">
  <!-- Apple/Safari icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/img/logo180.png">
  <!-- Square Windows tiles -->
  <meta name="msapplication-square70x70logo" content="{{site.baseurl}}/assets/img/logo70.png">
  <meta name="msapplication-square150x150logo" content="{{site.baseurl}}/assets/img/logo150.png">
  <meta name="msapplication-square310x310logo" content="{{site.baseurl}}/assets/img/logo310.png">
  <meta content="Natalie Bush" property="og:title">
  <meta content="UI/UX Design Portfolioasdasdasdaasdasdasdaasdasdasdaasdasdasdaasdasdasdaasdasdasdaasdasdasdaasdasdasdaasdasdasdaasdasdasdaasdasdasdaasdasdasdaasdasdasdaasdasdasdaasdasdasdaasdasdasda" property="og:description">
  <meta property="og:image" content="{{site.baseurl}}/assets/img/natalie0.jpeg">
  <link rel="stylesheet" href="/css/main.css">
</head>
