<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>
    <nav class="site-nav navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navigationbar">
          <ul class="nav navbar-nav">
            {% for menucategory in site.data.menubar %}
               <li>
                 <a href="{{ menucategory.url | prepend: site.baseurl }}">
                   {{ menucategory.name }}
                 </a>
               </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
