/**
 * Site header
 */
.site-header {
    -webkit-box-shadow: 0px 2px 5px 0px $grey-color;
    -moz-box-shadow: 0px 2px 5px 0px $grey-color;
    box-shadow: 0px 2px 5px 0px $grey-color;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .page-link {
        color: $grey-color-midlight;
        line-height: $base-line-height;
        transition: 0.25s linear; /* vendorless fallback */
        -o-transition: 0.25s linear; /* opera */
        -ms-transition: 0.25s linear; /* IE 10 */
        -moz-transition: 0.25s linear; /* Firefox */
        -webkit-transition: 0.25s linear; /*safari and chrome */

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

        &:hover {
            transition: 0.1s linear; /* vendorless fallback */
            -o-transition: 0.1s linear; /* opera */
            -ms-transition: 0.1s linear; /* IE 10 */
            -moz-transition: 0.1s linear; /* Firefox */
            -webkit-transition: 0.1s linear; /*safari and chrome */

            color: $grey-color-dark;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: center;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            color: $grey-color-dark;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
}

.padded-page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: 0px;
    }
}

.post-meta {
    font-size: 15px;
    color: $grey-color;

    @include media-query($on-palm) {
      font-size: 12px;
    }

    transition: 0.2s linear; /* vendorless fallback */
    -o-transition: 0.2s linear; /* opera */
    -ms-transition: 0.2s linear; /* IE 10 */
    -moz-transition: 0.2s linear; /* Firefox */
    -webkit-transition: 0.2s linear; /*safari and chrome */

    margin-top: 5px;
    margin-bottom: 0px;
}

.post-meta-title {
    font-size: 20px;
    color: $grey-color;

    @include media-query($on-palm) {
      font-size: 12px;
    }

    transition: 0.2s linear; /* vendorless fallback */
    -o-transition: 0.2s linear; /* opera */
    -ms-transition: 0.2s linear; /* IE 10 */
    -moz-transition: 0.2s linear; /* Firefox */
    -webkit-transition: 0.2s linear; /*safari and chrome */
}

.post-link-meta-div {
  padding: 10px;

  @include media-query($on-palm) {

    padding: 9px;
    line-height: 0.8;

    td {
      padding: 0px;
    }
  }

}

.post-link {
    display: block;

    //-webkit-box-shadow: 0px 0px 0px 0px $grey-color;
    //-moz-box-shadow: 0px 0px 0px 0px $grey-color;
    //box-shadow: 0px 0px 0px 0px $grey-color;
    //border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color;
    margin-bottom: 5px;
    transition: 0.2s linear; /* vendorless fallback */
    -o-transition: 0.2s linear; /* opera */
    -ms-transition: 0.2s linear; /* IE 10 */
    -moz-transition: 0.2s linear; /* Firefox */
    -webkit-transition: 0.2s linear; /*safari and chrome */

    &:hover {
        //-webkit-box-shadow: 0px 2px 5px 0px $grey-color;
        //-moz-box-shadow: 0px 2px 5px 0px $grey-color;
        //box-shadow: 0px 2px 5px 0px $grey-color;
        //border-top: 1px solid $grey-color-dark;
        border-bottom: 1px solid $grey-color-dark;

        transition: 0.1s linear; /* vendorless fallback */
        -o-transition: 0.1s linear; /* opera */
        -ms-transition: 0.1s linear; /* IE 10 */
        -moz-transition: 0.1s linear; /* Firefox */
        -webkit-transition: 0.1s linear; /*safari and chrome */

        .post-meta {
          color: $grey-color-dark;
          transition: 0.1s linear; /* vendorless fallback */
          -o-transition: 0.1s linear; /* opera */
          -ms-transition: 0.1s linear; /* IE 10 */
          -moz-transition: 0.1s linear; /* Firefox */
          -webkit-transition: 0.1s linear; /*safari and chrome */

        }

        .post-meta-title {
          color: $grey-color-dark;
          transition: 0.1s linear; /* vendorless fallback */
          -o-transition: 0.1s linear; /* opera */
          -ms-transition: 0.1s linear; /* IE 10 */
          -moz-transition: 0.1s linear; /* Firefox */
          -webkit-transition: 0.1s linear; /*safari and chrome */

        }

        .post-image-little {
          //-webkit-filter: grayscale(0%);
          -webkit-filter: brightness(100%);
          transition: 0.1s linear; /* vendorless fallback */
          -o-transition: 0.1s linear; /* opera */
          -ms-transition: 0.1s linear; /* IE 10 */
          -moz-transition: 0.1s linear; /* Firefox */
          -webkit-transition: 0.1s linear; /*safari and chrome */
        }
    }

    @include media-query($on-palm) {

      //-webkit-box-shadow: 0px 0px 0px 0px $grey-color;
      //-moz-box-shadow: 0px 0px 0px 0px $grey-color;
      //box-shadow: 0px 0px 0px 0px $grey-color;
      //transition: 0s linear; /* vendorless fallback */
      //-o-transition: 0s linear; /* opera */
      //-ms-transition: 0s linear; /* IE 10 */
      //-moz-transition: 0s linear; /* Firefox */
      //-webkit-transition: 0s linear; /*safari and chrome */

      &:hover {
          //-webkit-box-shadow: 0px 0px 0px 0px $grey-color;
          //-moz-box-shadow: 0px 0px 0px 0px $grey-color;
          //box-shadow: 0px 0px 0px 0px $grey-color;
          //transition: 0s linear; /* vendorless fallback */
          //-o-transition: 0s linear; /* opera */
          //-ms-transition: 0s linear; /* IE 10 */
          //-moz-transition: 0s linear; /* Firefox */
          //-webkit-transition: 0s linear; /*safari and chrome */
      }
    }

}



/**
 * Posts
 */
.post-header {
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    /* padding-top: $spacing-unit; */
    margin-bottom: 2px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-link-div {
    overflow: hidden;
}

.post-content {
    margin-bottom: $spacing-unit;
    margin-top: $spacing-unit / 2;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    p {
      font-size: 17px;
    }
}

.post-banner {
  width: 100%;
  -webkit-box-shadow: 0px 2px 5px 0px $grey-color;
  -moz-box-shadow: 0px 2px 5px 0px $grey-color;
  box-shadow: 0px 2px 5px 0px $grey-color;
}

.post-image-little {
  width: 100%;

  //-webkit-filter: grayscale(100%);
  -webkit-filter: brightness(80%);
  transition: 0.2s linear; /* vendorless fallback */
  -o-transition: 0.2s linear; /* opera */
  -ms-transition: 0.2s linear; /* IE 10 */
  -moz-transition: 0.2s linear; /* Firefox */
  -webkit-transition: 0.2s linear; /*safari and chrome */

}

.author-icon {
    width: 40px;
    height: 40px;
    margin-left: 5px;

    @include media-query($on-laptop) {
        width: 25px;
        height: 25px;
        margin-left: 5px;
    }
}

.author-icon-page {
    width: 30px;
    height: 30px;
    margin-left: 5px;

    @include media-query($on-laptop) {
        width: 15px;
        height: 15px;
        margin-left: 5px;
    }
}

.author-section {
  font-size: $small-font-size;
  color: $grey-color;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

ul.nav.navbar-nav {
  text-align: center;
}

nav.site-nav.navbar.navbar-default {

  @include media-query(767px) {
      width: 100%;
  }
}

a.site-title {
  @include media-query(767px) {
    position: absolute;
    z-index: 1;
  }
}

div.container-fluid {
  @include media-query(767px) {
  }
}

ul.nav.navbar-nav {
  li {
    @include media-query(767px) {
      width: calc(100% - 30px);
      padding-left: 90px;
    }

    a {
      @include media-query(767px) {
        border-top-color: $grey-color-light;
        border-top-width: 1px;
        border-top-style: solid;
      }
    }
  }
}

.tag-letter-header {
  margin-top: 5px;
  margin-bottom: 0px;
}

.tag-header-horizontal-bar {
  margin-top: 2px;
  margin-bottom: 2px;
}

.mid-post-image {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.image-caption {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.tag-link {
  border: 1px solid $grey-color-light;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 25px;
  background-color: $grey-color-midlight;
  color: #FFFFFF;
}
