---
layout: post
title:  "The First Splatooniversary"
date:   2016-05-27 9:12:00
categories: [gaming]
tags: [splatoon]
image: 2016-05-27-first-splatooniversary
image_alt: Splatoon Amiibos
author: Brett
---
<p>
Happy One Year Anniversary, Splatoon!
</p>
<p>Crazy how time flies.</p>
<p>One year ago I was waiting in line at Target for the Lucina, Robin, Pacman,
  and Charizard Amiibos which happened to be the same day that Splatoon was
  released in the US. I bought it the same morning on a whim and have been
  hooked ever since.
</p>
{% include mid_post_image.html image="splatoon_game_01.jpg" caption="Because I knew you, I have been changed...for good" alt="Splatoon game...yeah man" %}
<p>I was super intrigued by the game since its announcement and was eager to try
   a "fresh" shooter. At the time, the last shooter game I had really gotten
   into was honestly Call of Duty 2 (more of an RPG fan). But the Nintendo fan
   inside me noticed something special about Splatoon.
</p>
<p>
The fact that the game wasn't about the kills (at least it INTENTIONALLY wasn't)
 but instead about covering your turf was such a cool concept to me. A classic
 Nintendo switch up. Combining that with the emphasis on online play, great art
 style, and fun RPG-like equipping system and this game was golden.
</p>
<p>
Splatoon fans are <a class="mid-post-link" target="_blank" href="https://www.reddit.com/r/splatoon/">HARDCORE</a>. This game is like a meme generator. I love nothing
more than squid cruising through the map and coming across a witty art piece on
the wall, be it a SpongeBob reference or a team battle cry for an upcoming
Splatfest. I also never imagined that terms such as <a class="mid-post-link" target="_blank" href="https://www.youtube.com/watch?v=Syuk8MH5aIY">squidbagging</a> and Inkzooka
would become part of my daily vocabulary.
</p>
{% include mid_post_image.html image="splatoon_splatfest_01.jpg" caption="One of my favorite Splatfests: Pokemon Red vs. Blue" alt="Pokemon Splatfest dude." %}
<p>Splatoon has also become a sort of pass time for my wife and I, especially
  in the winter! Not only is it so easy to just pick up and play for a couple
  of minutes (or hours), but the refreshing "summery" setting that Splatoon has
  along with its slight reminiscence to Super Mario Sunshine definitely kept us
  sane on those grey and cold winter days.
</p>
{% include mid_post_image.html image="splatoon_game_02.jpg" caption="Macchi is the best Splatoon wingman" alt="So much Splatoon" %}
<p>All in all, Splatoon has held the title of my current "favorite game" solidly
   for a whole year, which is saying a lot! Definitely the crown jewel of the
   Wii U console and a fun new cast of characters to add to Nintendo's arsenal.
</p>
<p>
Looking forward to much more splatting and salt this summer!
</p>
<p>
Stay fresh!
</p>
