---
layout: post
title:  "Becoming Your Own Teacher"
date:   2016-08-28 17:00:00
categories: [learning]
tags: [motivation, teaching]
image: 2016-08-28-becoming-your-own-teacher
image_alt: Lego guy leading the way!
author: Brett
---
<p>
  A few months ago I woke up and wanted to learn Italian. A month after that I
  woke up and wanted to learn guitar. After college lets out, the realization
  hits that learning is much harder to do when there is no syllabus or weekly
  classes to guide you. Benchmarks and checkpoints in learning are more vague
  and difficult to define. No longer can one be reaffirmed of their objective
  learning level in a subject by looking back on the completion of a course in
  French II or successfully performing their first piano recital.
</p>
{% include mid_post_image.html image="doctorstrange_01.jpg" caption="Finding a course I wish I took in college" alt="Benedict Sorcerorbatch" %}
<p>
It's fairly easy to set big goals only to watch them gather dust on your mental
to-do shelf as busy days whisk by and time goes on. Getting side tracked by
routes that promise more instant gratification can be attractive too, however
these paths only entertain the end goal for a bit before dropping it all
together. Planning a Point B is easy, the trick is planning how to get there
from your Point A, then, perhaps most importantly, actually setting off on your
way. Here's a mini system I've found that has helped me personally:
  <ol>
    <li>
      Create Microgoals (Planning)
    </li>
    <li>
      Do a little bit every day (Doing)
    </li>
  </ol>
</p>
<p>
I'll go a little into each of these.
</p>


<h3>
  1. Creating Micro-goals (Planning)
</h3>
<p>
As I've said, it's pretty easy to visualize desired end results: playing your
first open mic on a new instrument, conversing in Mandarin with a friend over
coffee, running your first marathon, the list goes on and on. However in order
to reach your goal it helps to have some sort of road map. In some cases, there
are free (or affordable) programs and resources that can provide you these
steps. In other cases, you may need to create your own micro-goals.
</p>

<p>
In either of these cases, the first step is to seek out a reliable resource
(or multiple) to be your guide. Thanks to the Internet, there are plenty of
resources to get started! Research, compare, and check the reviews of these
resources and tune in on which one feels like a great fit for what you want
to accomplish.
</p>

<p>
If the resource already has a structured step-by-step program associated with
it, then sweet! You’re already half way there! If not then you get to have the
fun of creating a plan yourself.
</p>
<p>
Creating a plan yourself can be even more fun, and can also be layered on top
of pre-structured learning resources to structure it more to your liking or
pace. What is essential is that you break the resource down into mini sections.
If your resource is a text book of PDF tutorial, break it down into sub chapters
 and perhaps a few examples. If your resource is more practice oriented, set a
 mini goal for each day that may build up to a large goal for the week.
</p>
{% include mid_post_image.html image="napoleon-dynamite-dance_01.jpg" caption="Break it down." alt="Break it down." %}

<p>
The key is chart out goals that are:
  <ul>
    <li>
      Small
      <ul>
        <li>
          About 30 minutes (give or take)
        </li>
      </ul>
    </li>
    <li>
      Simple
      <ul>
        <li>
          Make sense and accomplish something, also easy to access/return to
        </li>
      </ul>
    </li>
    <li>
      Realistic
      <ul>
        <li>
          Able to be accomplished within short period of time (if longer, break it into smaller pieces)
        </li>
      </ul>
    </li>
    <li>
      Stackable
      <ul>
        <li>
          Meaning they build off previous goals
        </li>
      </ul>
    </li>
  </ul>
</p>

<p>
Once you have a plan in place, it’s time to jump right in.
</p>

<h3>
  2. Do a little bit every day (Doing)
</h3>
<p>
“The way to get started is to quit talking and begin doing.” ~ Walt Disney
</p>
{% include mid_post_image.html image="shialabeouf_01.jpg" caption="DO IT." alt="Shia being intense" %}
<p>
I’d say this mindset worked out pretty well for Walt Disney.
</p>
<p>
There can be so much we set our minds too, but in reality it’s often tricky to
mix dedicated time to our personal goals into our already busy lives.
</p>

<p>
  This is where the advantage of small, simple, realistic, and stackable goals
  comes into play. You have the luxury of flexibility! Pepper your goals into
  your day as you see fit.
</p>

<p>
  If you find yourself with a bit of free time, throw a couple of your goals
  in! Make a sketch, add a useful method to your iPhone App, sing a warmup, or
  read another chapter in your textbook.
</p>

<p>
If your day was a little more busy, don’t worry! Take some “you time”, knowing
that jumping back in is no big ordeal.
</p>

<p>
This approach is not about rigidity. It’s about flexibility. It’s about waking
up each day not knowing what the day might bring, but knowing that you have a
few micro-lessons on hand that you can just throw in at any time.
</p>
{% include mid_post_image.html image="inside_out_01.jpg" caption="Let's see, we've got practice German, run 3 miles, continue some writing on that one chapter..." alt="Inside Out references are the best" %}

<p>
  While I can confirm that I am not traveling the Italian countryside with a
  guitar (yet &#x1F609;&nbsp;), after using this approach I have seen noticeable results
  despite work and daily routine.
</p>

<p>
I found <a class="mid-post-link" target="_blank" href="https://www.duolingo.com/">Duolingo</a> as a resource for learning Italian and go through a couple
reviews day-to-day. After this I am much better at reading Italian food menus
and was able to have a nice but very basic conversation with a fellow dog walker
 who I realized spoke Italian.
 </p>

<p>For guitar, I referenced YouTube videos to learn some basic concepts and
  now have a warm up that I try to do daily. Now my chord transitions are
   picking up speed and I’m able to piece together very, very simple songs.
 </p>

<p>It’s really all about the journey. All that’s left is to plan and go!</p>
