---
menu-categories:
 - name: Arts
   url: /arts/
   menu-sub-categories:
    - sub-name: Graphic Design
      sub-url: /arts/graphic-design/
    - sub-name: Music
      sub-url: /arts/music/
    - sub-name: Theatre
      sub-url: /arts/theatre/
 - name: Gaming
   url: /gaming/
   menu-sub-categories:
    - sub-name: Nintendo
      sub-url: /gaming/nintendo/
 - name: Life
   url: /life/
   menu-sub-categories:
    - sub-name: Coffee
      sub-url: /life/coffee/
    - sub-name: Tea
      sub-url: /life/tea/
 - name: Pop
   url: /pop/
   menu-sub-categories:
    - sub-name: Movies
      sub-url: /pop/movies/
 - name: About
   url: /about/
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
