---
layout: default
comments: true
---

<div class="post">

  <img class="post-banner" src="{{ site.baseurl }}/images/{{ page.image }}_banner.JPG" alt="{{ page.image_alt }}"></img>
  <header class="post-header wrapper">
    <h1 class="post-title">{{ page.title }}</h1>
    <!-- Tags -->
    <div class="tag-div">
    {% for tag in page.tags %}
    <a class="tag-link" href="{{ site.baseurl }}/tag/{{ tag }}/">
      #{{ tag }}
    </a>&thinsp;
    {% endfor %}
    </div>
    <p class="post-meta">{{ page.date | date: "%B %d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <article class="post-content wrapper">
    {{ content }}
    {% if page.author %}
      <div class="author-section">
        - {{ page.author }}<img class="author-icon" src="{{ site.baseurl }}/images/{{ page.author }}_icon.png"></img>
      </div>
    {% endif %}
  </article>
</div>
