---
layout: default
---
<div class="wrapper">
<div class="home padded-page-content">

  <h1 class="page-heading">{{ page.title }}</h1>

  <ul class="post-list">
    {% for post in site.categories[page.category_name] %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <!--
          <div class="post-link-div">
              <img class="post-image-little" src="{{ site.baseurl }}/images/{{ post.image }}_banner.JPG" alt="{{ post.image_alt }}"></img>
            <div class="post-link-meta-div">
              <table>
                <tr>
                  <td>
                    <span class="post-meta-title">{{ post.title }}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="post-meta">by {{ post.author }}</span><img class="author-icon-page" src="{{ site.baseurl }}/images/{{ post.author }}_icon.png"></img>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          -->
          <div class="post-link-div">
            <img class="post-image-little" src="{{ site.baseurl }}/images/{{ post.image }}_banner.JPG" alt="{{ post.image_alt }}"></img>
            <div class="post-link-meta-div">
              <table>
                <tr>
                  <td>
                    <span class="post-meta-title">{{ post.title }}</span>
                  </td>
                </tr>
                <!-- Tags
                <tr>
                  <td>

                    {% for tag in post.tags %}
                    <a class="tag-link" href="{{ site.baseurl }}/tag/{{ tag }}/">
                      #{{ tag }}
                    </a>
                    {% endfor %}
                  </td>
                </tr>
              -->
                <tr>
                  <td class="post-meta-td">
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                  </td>
                </tr>
                <!--
                <tr>
                  <td>
                    <span class="post-meta">by {{ post.author }}</span><img class="author-icon-page" src="{{ site.baseurl }}/images/{{ post.author }}_icon.png"></img>
                  </td>
                </tr>
              -->
              </table>
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>
</div>
